.card
{
    width: 400px;
    padding: 6px;
    border: 1px solid #EEE;
    box-shadow: 0 2px 2px #DDD;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.card p,h3{
    text-transform: capitalize;
}
.card p{
    margin-top: auto;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}